<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" methods="get"  href="sanpham">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products
                    </button>
                    <form action="sanpham" method="get">
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ</button>
                            <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập luyện</button>
                            <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập luyện</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlysanpham">Products Management</a>
            </li>
            <li class="nav-item active  mr-1">
                <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Coach Management
                </a>

            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listOrder" tabindex="-1" aria-disabled="true">Order
                    Management</a>
            </li>
        </ul>
        <a class="btn btn-outline-success" href="/" tabindex="-1" aria-disabled="true">Đăng xuất</a>
    </div>
</nav>


<div class="container">
    <div class="container rounded-bottom bg-light ">
        <br> <br> <br>
        <form action="/createAdmin" method="post" class=" container col-10">
            <input type="text" name="nIdAd" value="{{idAd}}" class="form-control" style="display: none">
            <div class="form-group">
                <label for="InputUsername">Username</label>
                <input type="text" name="nUserAd" value="{{userAd}}" class="form-control" id="InputUsername" required
                       placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" name="nPassAd" value="{{passAd}}" class="form-control" id="InputPassword"
                       required
                       placeholder="Enter your password">
            </div>
            <div id="ConfirmPassword" class="form-group">
                <label for="InputConfirmPassword">Confirm Password</label>
                <input type="password" name="cfPass" class="form-control" id="InputConfirmPassword" required
                       placeholder="Enter your password">
                <span id='message'></span>
            </div>
            <br>

            <div class="row justify-content-center">
                <div class="col-4">
                    <button type="submit" name="update" value="1"
                            class="btn btn-outline-dark col-sm-12 ">{{btnUD}}</button>
                </div>
                <div class="col-4">
                    <a href="/listAdmin" id="cancel"class="btn btn-outline-dark col-sm-12">Hủy</a>
                </div>
            </div>
        </form>
        <br> <br> <br>
    </div>
</div>

<script>
    $('#InputPassword, #InputConfirmPassword').on('keyup', function () {
        if ($('#InputPassword').val() == $('#InputConfirmPassword').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>