<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="public/style.css" rel="stylesheet">
    <link href="public/dichvu.css" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../public/img/logo.png" height="75px" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gioithieu">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dichvu">Dịch Vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hotro">Hỗ Trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe">Liên Hệ</a>
                </li>


            </ul>
<!--            <ul style="list-style: none; margin-top: 10px;">-->
<!--                <li>-->
<!--                    <form>-->
<!--                        <input type="search" placeholder="Tìm sản phẩm..." name="" required>-->
<!--                        <input type="submit" value="Tìm kiếm" name="" style="background: gray; color: honeydew;">-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>

</nav>

<!-- Image -->
<div class="container-fluid padding">
    <div class="row padding">

        <img src="public/img/223.jpg" class="img-fluid" width="1525px" height="800px">
        <div class="carousel-caption" style="margin-left: 500px; margin-top: -100px;">
            <h1 class="display-2" style="color: floralwhite;">Những dịch vụ tốt nhất bạn sẽ nhận được từ <br><b style="color: chartreuse;">PT Connect</b> </h1>
        </div>
    </div>
</div>

<hr class="my-4">

<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <img src="public/img/26873.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h2>Thực phẩm chức năng của chúng tôi...</h2>
            <br>
            <p>Được cấp giấy chứng nhận đảm bảo vệ sinh an toàn thực phẩm
            </p>
            <p>Bao gồm nhiều nhãn hiệu nổi tiếng trên thế giới
            </p>
            <p>Cam kết bổ sung cho bạn lưỡng dinh dưỡng cần thiết cho việc tập luyện
            </p>
            <br>
            <a href="#" class="btn btn-primary">Mua ngay</a>
        </div>

    </div>
    <hr class="my-4">
</div>

<hr class="my-4">

<div>
    <main>

        <article style="height: 500px;">
            <section class="imgbox">
                <img src="public/img/whey1.jpg">
            </section>
            <section class="details2">
                <div style="text-align: center;">
                    <h2><a href="#" style="display: inline-block;"><b style="color: goldenrod;">Gold</b> Whey</a></h2>
                    <h5 class="price" style="display: inline-block;">1.990.000</h5>
                </div>
                <section class="color">
                    <label>Ưu đãi</label>
                    <ul>
                        <li>Khuyến mãi 50% nếu đăng kí phòng tập</li>
                        <li>Free ship</li>
                        <li>Không hiệu quả hoàn lại tiền</li>
                        <li>Được PT hướng dẫn sử dụng</li>
                    </ul>
                </section>
                <section class="store">
                    <label>Loại</label>
                    <ul>
                        <li>1000g</li>
                        <li>2000g</li>
                        <li>3000g</li>
                    </ul>
                </section>
                <a href="#" class="cart">Add to Cart</a>
            </section>
        </article>
        <article style="height: 500px;">
            <section class="imgbox">
                <img src="public/img/whey2.jpg">
            </section>
            <section class="details2">
                <div style="text-align: center;">
                    <h2><a href="#" style="display: inline-block;"><b style="color: lightslategray;">Nitro</b> Tech</a></h2>
                    <h5 class="price" style="display: inline-block;">2.990.000</h5>
                </div>
                <section class="color">
                    <label>Ưu đãi</label>
                    <ul>
                        <li>Khuyến mãi 50% nếu đăng kí phòng tập</li>
                        <li>Free ship</li>
                        <li>Không hiệu quả hoàn lại tiền</li>
                        <li>Được PT hướng dẫn sử dụng</li>
                    </ul>
                </section>
                <section class="store">
                    <label>Loại</label>
                    <ul>
                        <li>1000g</li>
                        <li>2000g</li>
                        <li>3000g</li>
                    </ul>
                </section>
                <a href="#" class="cart">Add to Cart</a>
            </section>
        </article>

        <article style="height: 500px;">
            <section class="imgbox">
                <img src="public/img/whey3.jpg">
            </section>
            <section class="details2">
                <div style="text-align: center;">
                    <h2><a href="#" style="display: inline-block;"><b style="color: olive;">Platinum</b> Creatine</a></h2>
                    <h5 class="price" style="display: inline-block;">3.990.000</h5>
                </div>
                <section class="color">
                    <label>Ưu đãi</label>
                    <ul>
                        <li>Khuyến mãi 50% nếu đăng kí phòng tập</li>
                        <li>Free ship</li>
                        <li>Không hiệu quả hoàn lại tiền</li>
                        <li>Được PT hướng dẫn sử dụng</li>
                    </ul>
                </section>
                <section class="store">
                    <label>Loại</label>
                    <ul>
                        <li>1000g</li>
                        <li>2000g</li>
                        <li>3000g</li>
                    </ul>
                </section>
                <a href="#" class="cart">Add to Cart</a>
            </section>
        </article>
    </main>
</div>
<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Liên hệ</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
        </div>
    </div>
</div>

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="public/img/logo_footer.png" height="120" width="150">
                <hr class="light">
                <p>0767-002-143</p>
                <p>meovuong99@gmail.com</p>
                <p>Số 23 ngách 01 ngõ 105 Doãn Kế Thiện, Mai Dịch, Hà Nội</p>
            </div>
            <div class="col-md-4">
                <h5>Thời gian hoạt động</h5>
                <hr class="light">
                <p>Thứ hai: 9am - 5pm</p>
                <p>Thứ bảy: 10am - 4pm</p>
                <p>Chủ Nhật: đóng cửa</p>
            </div>
            <div class="col-md-4">
                <h5>Các cơ sở</h5>
                <hr class="light">
                <p>Số 19 Trần Nguyễn Hãn, Hải Phòng</p>
                <p>Số 32 Cầu Giấy, Hà Nội</p>
                <p>Số 15/24 Trịnh Văn Bô, Hà Nội</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Đức Vượng</h5>
            </div>
        </div>
    </div>
</footer>



</body>

</html>







<!--
- Check out my courses!
<div class="udemy-course" style="position: fixed; bottom: 0; right: 0; margin-bottom: -5px; z-index: 100;">
	<a href="https://w3newbie.com/courses" target="_blank" style="z-index: 999!important; cursor: pointer!important;"><img src="https://www.w3newbie.com/wp-content/uploads/nuno-course-banner.png" style="max-width: 100%; min-width: 100%;"></a>
 </div> -->