<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giới thiệu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="public/style.css" rel="stylesheet">
    <link href="public/dichvu.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../public/img/logo.png" height="75px" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gioithieu">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dichvu">Dịch Vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hotro">Hỗ Trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe">Liên Hệ</a>
                </li>


            </ul>
<!--            <ul style="list-style: none; margin-top: 10px;">-->
<!--                <li>-->
<!--                    <form>-->
<!--                        <input type="search" placeholder="Tìm sản phẩm..." name="" required>-->
<!--                        <input type="submit" value="Tìm kiếm" name="" style="background: gray; color: honeydew;">-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>

</nav>

<!-- Image -->
<div class="container-fluid padding">
    <div class="row padding">

        <img src="public/img/3444354.jpg" class="img-fluid" width="1525px" height="800px">
        <div class="carousel-caption" style="margin-left: 500px; margin-top: -100px;">
            <h1 class="display-2">Chúng tôi sẽ giúp bạn đạt được những điều tưởng chừng như
                <p style="color: red;">không thể</p>
                </h3>
                <button type="button" class="btn btn-outline-light btn-lg">Thông Tin</button>
                <button type="button" class="btn btn-primary btn-lg" >Đăng nhập</button>
            </h1>
        </div>
    </div>
</div>

<hr class="my-4">

<!-- Xam -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Chúng tôi thành lập
                <b style="color: green;">PT Connect </b> với mục đích kết nối HLV và những người có nhu cầu cần tìm người hỗ trợ bản thân trong quá trình rèn luyện</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead"><b style="color: saddlebrown;"><strong>SỨC KHỎE LÀ VÀNG</strong></b><br>"Chúng tôi tin rằng thể dục nên là thứ cần thiết đối với tất cả mọi người ở bất cứ đâu, bất kể mức thu nhập ra sao hãy đến phòng tập gym. Đó là lý do tại sao chúng
                tôi cung cấp hàng trăm video tập luyện miễn phí, đầy đủ, các chương trình tập luyện hiệu quả và giá cả phải chăng nhất trên web, kế hoạch bữa ăn và thông tin hữu ích về sức khỏe, dinh dưỡng và thể dục."
            </p>

        </div>
    </div>
</div>

<div class="background-black">
    <!-- video -->
    <video id="video" width="1520px" height="900px" controls poster="Capture.PNG" style="margin-top: -32px;">
        <source src="public/img/huongdantapmong.mp4" type="video/mp4">
    </video>
    <!-- Xam -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <p class="lead"><b style="color: saddlebrown;"><strong style="color: yellow;">SỨC KHỎE LÀ VÀNG</strong></b><br>" Điều duy nhất chúng tôi tán thành là ăn thực phẩm dinh dưỡng, thực phẩm toàn phần và tập luyện để có một cơ thể khỏe mạnh. Là một doanh
                    nghiệp, chúng tôi tin rằng những điều tốt đẹp sẽ xảy ra khi bạn đặt mọi người lên trước lợi nhuận."
                </p>

            </div>
        </div>
    </div>

    <!--- Three Column Section -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <!-- <i class="fas fa-code"></i> -->
                <img src="public/img/strong.png" class="icon">
                <h3 style="color: mistyrose;"><b>Phát triển nhờ các bạn</b></h3>
                <p>"PT Connect phát triển dựa trên đội ngũ quản trị viên có kiến thức để sàng lọc và phân loại hồ sơ các HLV"
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <!-- <i class="fas fa-bold"></i> -->
                <img src="public/img/study.png" class="icon">
                <h3 style="color: mistyrose;"><b>Chương trình làm việc</b></h3>
                <p>"Với việc quản trị online, thành viên của PT Connect thường có thời gian thoải mái "
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <!-- <i class="fab fa-css3"></i> -->
                <img src="public/img/book.png" class="icon">
                <h3 style="color: mistyrose;"><b>500+ bài tập miễn phí</b></h3>
                <p>"Hơn 500 bài tập miễn phí kéo dài từ 10-85 phút, từ cấp độ mới bắt đầu đến vận động viên ưu tú, từ HIIT đến Pilates, và rèn luyện sức mạnh cho đến thể hình."</p>
            </div>
        </div>
        <hr class="my-4">
    </div>

</div>

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="../public/img/logo_footer.png" height="120" width="150">
                <hr class="light">
                <p>0767-002-143</p>
                <p>meovuong99@gmail.com</p>
                <p>Số 23 ngách 01 ngõ 105 Doãn Kế Thiện, Mai Dịch, Hà Nội</p>
            </div>
            <div class="col-md-4">
                <h5>Thời gian hoạt động</h5>
                <hr class="light">
                <p>Thứ hai: 9am - 5pm</p>
                <p>Thứ bảy: 10am - 4pm</p>
                <p>Chủ Nhật: đóng cửa</p>
            </div>
            <div class="col-md-4">
                <h5>Các cơ sở</h5>
                <hr class="light">
                <p>Số 19 Trần Nguyễn Hãn, Hải Phòng</p>
                <p>Số 32 Cầu Giấy, Hà Nội</p>
                <p>Số 15/24 Trịnh Văn Bô, Hà Nội</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Đức Vượng</h5>
            </div>
        </div>
    </div>
</footer>



</body>

</html>







<!--
- Check out my courses!
<div class="udemy-course" style="position: fixed; bottom: 0; right: 0; margin-bottom: -5px; z-index: 100;">
	<a href="https://w3newbie.com/courses" target="_blank" style="z-index: 999!important; cursor: pointer!important;"><img src="https://www.w3newbie.com/wp-content/uploads/nuno-course-banner.png" style="max-width: 100%; min-width: 100%;"></a>
 </div> -->