<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang Chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="../public/style.css" rel="stylesheet">
    <link href="public/dichvu.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../public/img/logo.png" height="75px" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gioithieu">Giới Thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dichvu">Dịch Vụ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hotro">Hỗ Trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lienhe">Liên Hệ</a>
                </li>


            </ul>
<!--            <ul style="list-style: none; margin-top: 10px;">-->
<!--                <li>-->
<!--                    <form>-->
<!--                        <input type="search" placeholder="Tìm sản phẩm..." name="" required>-->
<!--                        <input type="submit" value="Tìm kiếm" name="" style="background: gray; color: honeydew;">-->
<!--                    </form>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
    </div>

</nav>
<br>
<h1 style="margin-left: 50px">Chúng tôi xin phép được giới thiệu phần mềm </h1>
<hr class="my-4">
<h3 style="text-align: center; font-size: 50px;"><b style="color: darkgreen;">PT Connect</b> – Ứng dụng kết nối</h3>
<br>
<p style="text-align: justify; margin-left: 25px;">PT Connect là phần mềm giúp kết nối những người đang có nhu cầu tìm kiếm HLV cá nhân để giúp đỡ trong việc rèn luyện sức khỏe và những người là HLV lại với nhau</p>
<div style="text-align: center;">
    <img src="public/img/anh_giao_dien_1.jpg" style="display: inline-block;" width="500" height="800">
</div>
<br>
<div style="text-align: center;">
    <div style="text-align: center; width: 750px; display: inline-block;">
        <p style="text-align: justify; margin-left: 25px; display: inline-block"> Đối với ai cũng vậy, đều muốn mua cho mình một sức khỏe tốt để <b style="color: red;"> phòng chống bệnh tập </b>.Nhưng bên cạnh đó việc tập luyện một mình sẽ dễ dàng dính đến chấn thương hoặc không hiệu quả do vẫn chưa có nhiều kinh nghiệm.<br><br> Dưới đây là một số cách hỗ trợ khách hàng khi phần mềm gặp vấn đề của Gym Master. Bởi vậy, thuê PT là giải pháp tốt nhất và hiệu quả nhất để bạn đạt được hiệu suất tối đa trong quá trình tập luyện</p>

        <p style="text-align: justify; margin-left: 25px;"><b> 1. PT Online</b>
            <br><br> Có nhiều cách hỗ trợ từ xa như: hỗ trợ qua điện thoại hoặc hỗ trợ qua máy tính thông qua phần mềm Meet hoặc Zalo
            <br><br> Tìm kiếm HLV theo cách này giúp cho việc tập luyện nhanh chóng hơn, đỡ tốn thời gian cho cả hai bên. Các học viên có thể tập ở nhà
        </p>

        <p style="text-align: justify; margin-left: 25px; display: inline-block">
            <b>2. PT huấn luyện trực tiếp</b>
            <br><br> Ngoài việc hỗ trợ từ xa, thì bên các PT còn có thể hỗ trợ trực tiếp tại phòng tập hoặc tư gia. Tuy nhiên, mỗi cách hỗ trợ đều có ưu nhược điểm của nó, vì vậy việc lựa chọn hình thức thuê HLV nào,
            học viên có thể đặt câu hỏi trực tiếp và nhận được phản hồi của các PT trong thời gian ngắn nhất.

        </p>


        <img src="public/img/anh_pt_trong_ho_tro.jpg">
        <br>
        <br>
        <br>
        <p style="text-align: justify; margin-left: 25px; display: inline-block">
            Mỗi phần mềm được đưa ra thị trường đều được thử qua nhưng cũng không thể tránh được nhưng sai sót.Vì vậy, việc có thêm các nhóm hỗ trợ sau khi bán phần mềm là rất cần thiết. Việc làm này đảm bảo đượ chất lượng sản phẩm, cũng như thương hiệu của PT Connect.
            <br><br> Nếu bạn quan tâm đến sản phẩm của chúng tôi có thể tham khảo trên<b> website: https://supple-connect.herokuapp.com </b>hoặc liên hệ trực tiếp tới số<b> 0767002143</b> để được tư vấn.

        </p>

    </div>
</div>
<hr class="my-4 ">
<!--- Connect -->
<div class="container-fluid padding ">
    <div class="row text-center padding ">
        <div class="col-12 ">
            <h2>Liên hệ</h2>
        </div>
        <div class="col-12 social padding ">
            <a href="# "><i class="fab fa-facebook "></i></a>
            <a href="# "><i class="fab fa-youtube "></i></a>
            <a href="# "><i class="fab fa-instagram "></i></a>
            <a href="# "><i class="fab fa-twitter "></i></a>
            <a href="# "><i class="fab fa-google-plus-g "></i></a>
        </div>
    </div>
</div>

<!--- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="../public/img/logo_footer.png" height="120" width="150">
                <hr class="light">
                <p>0767-002-143</p>
                <p>meovuong99@gmail.com</p>
                <p>Số 23 ngách 01 ngõ 105 Doãn Kế Thiện, Mai Dịch, Hà Nội</p>
            </div>
            <div class="col-md-4">
                <h5>Thời gian hoạt động</h5>
                <hr class="light">
                <p>Thứ hai: 9am - 5pm</p>
                <p>Thứ bảy: 10am - 4pm</p>
                <p>Chủ Nhật: đóng cửa</p>
            </div>
            <div class="col-md-4">
                <h5>Các cơ sở</h5>
                <hr class="light">
                <p>Số 19 Trần Nguyễn Hãn, Hải Phòng</p>
                <p>Số 32 Cầu Giấy, Hà Nội</p>
                <p>Số 15/24 Trịnh Văn Bô, Hà Nội</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Đức Vượng</h5>
            </div>
        </div>
    </div>
</footer>



</body>

</html>







<!--
- Check out my courses!
<div class="udemy-course " style="position: fixed; bottom: 0; right: 0; margin-bottom: -5px; z-index: 100; ">
	<a href="https://w3newbie.com/courses " target="_blank " style="z-index: 999!important; cursor: pointer!important; "><img src="https://www.w3newbie.com/wp-content/uploads/nuno-course-banner.png " style="max-width: 100%; min-width: 100%; "></a>
 </div> -->